<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>


<div class="col-lg-6">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title">Demandes de congés et absences </h5>
        <div class="table-responsive">
          <table class="mb-0 table">
            <thead>
              <tr>
                <th>#</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Durée d'absence</th>
                <th>Type de congé</th>
                <th>A traiter par </th>
                <th> Statut</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let request of requests "
              >
                <td>{{request.id}}</td>
                <td>{{request.startDate}}</td>
                <td>{{request.endDate}}</td>
                <td>{{request.nbjAbs}}</td>
                <td>{{request.leaveType.leaveTitle}}</td>
                <td>{{request.collaborator.respo}}</td>
                <td *ngIf="request.status==='refusée' ">
                  <div  class="badge badge-pill badge-danger">{{request.status}}</div>
                            </td>
                            <td *ngIf=" request.status==='acceptée' ">
                            
                              <div class="badge badge-pill badge-success">{{request.status}}</div>
                            </td>
                            <td *ngIf=" request.status==='en attente' ">
                              <div #third class="badge badge-pill badge-warning">{{request.status}}</div>
                            </td>
            </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="page-title-actions">
    <button (click)="openModal()"
    type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success">
      <fa-icon [icon]="faPlus" class="mr-2"></fa-icon>
      Créer une nouvelle demande
    </button>
    </div>

 